/* Start Css rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
}
/* ul & li Styling */
ul {
    list-style: none;
}
ul li {
    display: inline;
}
a  {
    text-decoration: none;
}
/* cotainert style */

.container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
/* Start media query */
/* small */
@media (max-width: 768px) {
.container {
    width: 750px;
}

}
/* Meduim */
@media (min-width: 992px) {
.container {
    width: 970px;
}
}

/* Large */
@media (min-width: 1200px) {
.container {
    width: 1140px;
}
}
/* End media query */
/* End Css rules */

/* Start header */
.header {
    padding-top: 40px;
    padding-bottom: 60px;
    background-image: url(../image/wave.svg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.header .nav-bar h3 {
    margin-left: 0;
    text-transform: capitalize;
    font-size: 1.6em
}
.header .nav-links {
    font-size: 20px;
    text-transform: capitalize;
    margin-left: 400px;
}
.header .nav-links a li {
    padding-left: 20px;
    color: white;
}

.header .nav-form {
    display: flex;
    gap: 20px;
}
.header .nav-form input {
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    padding: 10px 40px;
    background: transparent;
    text-transform: capitalize;
    cursor: pointer;
}

.header .nav-form .active {
    background: white;
    color: #0099ff;
}
.header .slider {
    text-align: center;
    padding-bottom: 150px;
    padding-top: 150px;
    font-size: 2em;
    text-transform: capitalize;
}
.header .slider span {
    font-weight: normal;
}

/* small */

@media (max-width: 768px) {

.header {
    width: 100vw;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;

}
.header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.header .nav-links {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-left: 140px;
    font-size: 16px;
    display: none;
}
.header .nav-links a li {
    padding-left: 10px;
    color: white;
}

.header .nav-form {
    gap: 10px;
    position: relative;
    left: 75px;
}
.header .nav-form input {
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 1em;

    
}

.header .nav-form .active {
    background: white;
    color: #0099ff;
}
.header .slider {
    padding-top: 100px;
    padding-bottom:100px;
    font-size: .9em;
    
}
.header .slider h1 {
    position: absolute;
    left: 50%;
    bottom: 72%;
    width: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.header .slider span {
    font-weight: normal;
}
}

/* @media (min-width: 992px) {

.header .nav-bar {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.header .nav-links {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 10px;
    font-size: 16px;
}

.header .nav-form {
    gap: 10px;
    
}
.header .nav-form input {
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 1em;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.header .nav-form .active {
    background: white;
    color: #0099ff;
}
.header .slider {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1.2em;
}
.header .slider h1 {
    bottom: 65%;
}
.header .slider span {
    font-weight: normal;
}
} */
/* End header */
/* Start login-section  */

.login-section .container {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 120px;
    margin-bottom: 120px;
    box-shadow: 1px 1px 10px grey,
    -1px -1px 10px grey;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
}

.login-section form h2{
    color: #6c63ff;
    font-size: 2.6em;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.login-section form p{
    color: #7c7c7c;
    font-size: .9em;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.login-section form label, input {
    display: block;
}
.login-section form label {
    font-size: 1em;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.login-section form input {
    width: 100%;
    padding:18px 20px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    outline: none;
    border: 1px solid #b4b4b4;
    margin-bottom: 10px;
}
.login-section form input:focus {
    outline: none; 
}
.login-section form input[type="submit"] {
    border: none;
    background-color: #000b76;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}
.login-section form .checkbox{
    display: flex;
    align-items: baseline;
    position: relative;
}
.login-section form input[type="checkbox"] {
    position: absolute;
    left: -130px;
    top: 1px;
}

.login-section form label[for="checkbox"] {
    position: relative;
    left: 80px;
    color: #7c7c7c;
    font-size: .9em;
}
.login-section form input::placeholder {
    color: #b4b4b4;
    font-size: .9em;
}
.login-section form a {
    color: #000b76;
    display: block;
    text-align: center;
    margin-top: 20px ;
    margin-bottom: 20px ;
}
.login-section form .signup-button[type="button"] {
    border: 1px solid #000b76;
    color: #000b76;
    border-radius: 20px;
    width: 140px;
    margin: 0 auto;
    padding: 10px 20px;
    background: white;
    text-transform: capitalize;
    cursor: pointer;
}

@media (max-width: 768px) {
    
 .login-section .container {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 0px;
    padding-bottom: 60px;
    flex-direction: column;
}
.login-section form p{
    font-size: .9em;
}
.login-section form label {
    font-size: .8em;
}
.login-section form input {
    padding: 12px 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login-section form input[type="submit"] {
    font-size: 1em;
}
.login-section form .checkbox{
    display: flex;
    align-items: baseline;
    position: relative;
}
.login-section form input[type="checkbox"] {
    position: absolute;
    left: -130px;
    top: 1px;
}

.login-section form label[for="checkbox"] {
    position: relative;
    left: 190px;
    font-size: .9em;
}
.login-section form input::placeholder {
    font-size: .8em;
}
.login-section form a { 
    font-size: .9em;
    margin-top: 18px ;
    margin-bottom: 12px ;
}
.login-section form .signup-button[type="button"] {
    border-radius: 18px;
    width: 120px;
    padding: 8px 10px;
    font-size: 1em;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.login-section img {
    margin-bottom: -100px;
}
}

/* @media (min-width: 992px) { 
    .login-section .container {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 120px;
    margin-bottom: 120px;
    box-shadow: 1px 1px 10px grey,
    -1px -1px 10px grey;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
}

} */
/* End login-section  */
/* Start Footer */
.footer {
    padding-top: 60px;
    color:white;
    background: rgb(3,98,99);
    background: linear-gradient(0deg, rgba(3,98,99,1) 2%, rgba(10,0,118,1) 100%);
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: end;
    padding-bottom: 60px;

    
}
.footer h3 , h2 {
    font-size: 1.8em;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.footer .about  {
    width: 120%;
}
.footer .about p {
    font-size: .9em;
    text-transform: capitalize;
    line-height: 1.8em;
    color: rgb(224, 220, 220);
}

.footer .quick-links ul li {
    display: block;
    padding-bottom: 12px;
    text-transform: capitalize;
    font-size: 1.2em;
    color: rgb(231, 229, 229);
}

.footer .support p{
    padding-bottom: 12px;
    text-transform: capitalize;
    font-size: 1em;
}


.footer .social-icons .fab {
    text-transform: capitalize;
    font-size: 1.4em;
    width: 40px;
    height: 40px;
    padding: 7px 7px;
    margin-left: 10px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer .copy-right {
    text-transform: capitalize;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgb(3,98,99);
    background: linear-gradient(0deg, rgba(3,98,99,1) 2%, rgba(10,0,118,1) 100%);
    color: white;
    border: none;
}

@media (max-width: 768px) {

.footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    gap: 100px;
    padding-bottom: 60px;

    
}
.footer h3 , h2 {
    font-size: 1.8em;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.footer .about  {
    width: 120%;
}
.footer .about p {
    font-size: .9em;
    text-transform: capitalize;
    line-height: 1.8em;
    color: rgb(224, 220, 220);
}

.footer .quick-links ul li {
    display: block;
    padding-bottom: 12px;
    text-transform: capitalize;
    font-size: 1.2em;
    color: rgb(231, 229, 229);
}

.footer .support p{
    padding-bottom: 12px;
    text-transform: capitalize;
    font-size: 1em;
}


.footer .social-icons .fab {
    text-transform: capitalize;
    font-size: 1.4em;
    width: 40px;
    height: 40px;
    padding: 7px 7px;
    margin-left: 10px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer .copy-right {
    text-transform: capitalize;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgb(3,98,99);
    background: linear-gradient(0deg, rgba(3,98,99,1) 2%, rgba(10,0,118,1) 100%);
    color: white;
    border: none;
}
}
/* @media (min-width: 992px) { 
   
.footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    column-gap: 180px;
    row-gap: 50px;
    padding-bottom: 60px;

    
}
} */
/* End Footer */
